.landingBackground{
    height: 500px;
}
.imageStack{
    margin-left: 80px;
    margin-top: 100px;
}
.card{
    width: 450px;
    height: 386px;
}
.card-h{
    width: 350px;
    height: 268px;
}
.clients-logo{
    margin-top: 20px;
    overflow-x:scroll;
    display: flex;
    /* justify-content: space-around; */
}
.clients-logo img{
    margin:0px 25px;
    padding:10px 0px;
}
.contactField{
    box-shadow: 0px 0px 10px rgb(145, 145, 145);
    backdrop-filter: blur(5px);
    background: transparent;
}


@media (max-width:550px) {
    /* Navbar */
    nav img{
        width: 100px;
        height: 25px;
    }
    #brand{
        padding: 0px;
        margin: 10px;
    }
    nav button{
        margin-right: 10px;
    }

    /* Landing Page */
    .landingBackground div{
        position: relative;
        width: 100%;
        left: 0;
        box-shadow: none;
    }
    #homeContent{
        top: 0%;
    }
    .sliderImg{
        margin-top: 200px;
    }
    .bg{
        object-fit:inherit; 
        width: 100%; 
        height: 270px;
        margin-top: -100px;
    }
    .landingBackground{
        display: block;
        height: 200px;
        position: flex;
    }
    .landing{
        flex-direction: column;
    }
    .landing .left{
        width: 100%;
        position: relative;
    }
    .landing .right{
        margin-top: 550px;
        width: 100%;
        z-index: 2;
        overflow: none;
        margin-bottom: 0px;
    }
    #videoDiv{
        position: relative;
        margin-top: 0px;
        top: 0%;
        left: 10%;
    }
    .landing .left video{
        width: 300px;
        height: 200px;
    }
    .clients-logo{
        margin-top: 10px;
        overflow:scroll;
        width: 100%;
        padding: 5px 0px;

    }
    .clients{
        overflow: hidden;
    }
    .clients img{
        width: 96px;
        height: 51px;
        margin: 0px 10px;
    }
    .clients span{
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .automationBlock{
        width: 100%;
        margin-top: 0px;
        border: none;
        box-shadow: none;
    }
    .automationBlock h2{
        font-size: 14px;
    }
    .automationBlock p{
        font-size: 12px;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .automationBlock div{
        width: 50px;
        height: 4px;
        margin: 0px;
    }
    .automationBlock a{
        font-size: 10px;
    }

    /* Product Page*/
    #Product{
        height: 300px;
    }
    #Product a img{
        width: 20px;
        height: 20px;
    }
    #Product h1{
        width: 100%;
        font-size: 18px;
    }
    #Product .card,.card-h img{
        width: 200px;
        height: 100px;
    }
    #Product .card-s img{
        width: 30px;
        height: 30px;
    }
    #Product .card-h{
        display: none;
    }
    #Product .allCard{
        margin-top: 40px;
        align-items: center;
    }
    #Product .flex a{
        font-size: 12px;
        margin-top:20px;
    }

    /* About */
    #About{
        height: 900px;   
    }
    
    #About h1{
        font-size: 18px;
        margin-left: 20px;
    }
    #About .about{
        margin: 0px;
        padding: 0px;
    }
    .about{
        flex-direction: column;
        width: 100%;
    }
    .imageStack{
        margin-left: 180px;
        margin-top: 150px;   
    }
    #underAbout{
        margin-left: 15px;
    }
    .imageStack img{
        width: 140px;
    }
    .about div{
        width: 100%;
    }
    .about div h2{
        font-size: 14px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .about div svg rect{
        height: 40px;
        width: 250px;
    }
    .about div div{
        font-size: 11px;
        line-height: 20px;
        text-align: justify;
        color: rgb(31, 31, 31);
    }
    #Business{
        font-size: 12px;
    }

    /* Contact Footer */
    #Contact h1{
        font-size: 18px;
        margin: 5px;
    }
    #Contact .container{
        margin: 0px;
        padding: 15px;
    }
    #Contact .contactLine{
        margin: 0px;
        padding: 0%;
    }
    #Contact section{
        flex-direction: column;
    }
    #Contact section input{
        width: 300px;
    }
    #Contact section textarea{
        width: 300px;
    }
    section .left .sendButton{
        width: 300px;
    }
    section .right{
        margin-top: 20px;
    }
    section .right svg{
        width: 50px;
        height: 100px;
    }
    section .right p{
        margin-top: 10px;
        font-size: 14px;
    }
    #map{
        margin-left: -50px;
        height: 200px;
        width: 350px;
    }
    section .container div{
        height: 200px;
    }
    .contacts{
        flex-direction: column;
    }
    .contacts div{
        margin: 10px;
    }
}
@media (max-width:900px) and (min-width:550px){

  
    /* Landing Page */

    .landingBackground{
        display: block;
        height: 400px;
        position: flex;
    }
  
    .sliderImg{
        margin-top: -100px;
    }
    .sliderImg img{
        height: 400px;
    }
    #videoDiv{
        width: 300px;
        height: 150px;
    }
    .automationBlock{
        height: 10%;
    }

    .automationBlock h2{
        font-size: 14px;
    }
    .automationBlock p{
        font-size: 10px;
    }
    .clients span{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .clients img{
        width: 120px;
        height: 64px;
    }
    #Product{
        height: 600px;
    }
    .imageStack{
        margin-left: 0px;
    }
    .imageStack img{
        width: 170px;
    }
    .about .aboutContent{
        width: 800px;
    }
    .about .aboutContent div{
        margin-top: 10px;
    }
    .about div{
        width:500px;
        font-size: 12px;
    }
    #About .about{
        margin: 10px;
        padding: 5px;
    }
    #About{
        height: 600px;
    }
    .footerSection{
        flex-wrap: wrap;
        width: 100%;
    }
}


@media (min-width:850px) and (max-width:1000px){
    .automationBlock{
        height: 30%;
    }
    .automationBlock p{
        font-size: 12px;
    }
    .automationBlock h2{
        font-size: 16px;
    }
    .clients span{
        font-size: 20px;
    }
    .clients img{
        width: 80px;
        height: 56px;
    }
    .imageStack{
        margin-left: 5px;
    }
    .about div{
        width:400px;
        font-size: 14px;
    }
    .footerSection{
        flex-wrap: wrap;
        width: 100%;
    }
    #Contact{
        height: 180vh;
    }
    .footerSection .right{
        margin-top: 30px;
    }
}

